<div class="courses__container">
  <mat-card>
    <mat-toolbar class="secondary">
      <div class="courses__container-header">
        <span>
          Cursos Disponíveis
        </span>
        <span>
          <button
            mat-mini-fab
            color="accent"
            (click)="onAdd()"
            aria-label="Adicionar um curso">
            <mat-icon>add</mat-icon>
          </button>
          Adicionar Curso
        </span>
      </div>
    </mat-toolbar>

    <app-courses-list
    *ngIf="courses$ | async as courses; loading"
      [courses]="courses">
    </app-courses-list>

    <ng-template #loading>
        <mat-spinner [color]="color"></mat-spinner>
    </ng-template>
  </mat-card>
</div>
