.secondary {
  background-color: #F48FB1;
}

.courses__container {
  padding: 25px;

  mat-card {
    max-width: 60%;
    margin: 2em auto;
  }
}

.courses__container-header {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.courses__container-add {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 20px;
}
